

@media screen and (min-width: 200px) and (max-width: 319px) {
    body {
        overflow-x: hidden;
    }
    .first-navbar-ul {
        margin-top: 100px;
        text-align: center;
    }
    .navbar-search {
        margin: 5px auto;
    }
    .margin-top100 {
        margin-top: 300px;
    }

    .chits-add-column {
        margin-bottom: 10px;
    }
    .chitsgroup-select-column {
        min-width: 90%;
    }
    .chits-address-column {
        min-width: 200px;
    }

    .groupselect-column {
        min-width: 200px;
    }

    .search-item {
         min-width: 150px;
         margin-left: 80px;
         margin-right: 5px;
    }


    .chits-column-parent {
        margin-top: 50px;
        margin-left: 20px;
        // width: 90%;
        .chits-player {
            // width: 100%;
            // height: 200px;
        }

        .playerpreview {
            img {
                // height: 200px;
            }
        }
    }


    .bot-sidebar-parent {
        display: none;
    }

    .user-sidebar-parent {
        display: none;
    }

}

@media screen and (min-width: 320px) and (max-width: 420px) {
    body {
        overflow-x: hidden;
    }

    .nav.navbar-nav.navbar-right.first-navbar-ul {
        display: none;
    }
    .navbar-header {
        width: 45%;
        float: left;
    }
    .navbar-search {
        width: 30% !important;
        float: left;
        margin: 5px auto;

    }
    .hidden-user-image {
        display: inline-block;
        margin: 5px;
    }

    .results-parent {
        text-align: center;
    }




    .register, .alpha-key {
        margin-top: 10px !important;
    }
    .first-navbar-ul {
        margin-top: 100px;
        text-align: center;
    }
    .margin-top100 {
        margin-top: 300px;
    }

    .chits-add-column {
        margin-bottom: 10px;
    }
    .chitsgroup-select-column {
        width: 100%;
    }
    .chits-address-column {
        width: 100%;
    }
    .groupselect-column {
        width: 100%;
    }
    .search-item {
         min-width: 150px;
         margin-left: 5px;
         margin-right: 5px;
    }


    .chits-column-parent {
        margin-top: 50px;
        // margin-left: 80px;
        // width: 90%;
        .chits-player {
            // width: 100%;
            // height: 200px;
        }

        .playerpreview {
            img {
                // height: 200px;
            }
        }
    }

        .results-parent {
            #results {
                width: 320px;
                margin: auto;
            }
        }

    .bot-sidebar-parent {
        display: none;
    }
    .user-sidebar-parent {
        display: none;
    }

}

@media screen and (min-width: 421px) and (max-width: 699px) {

    .chits-address-column {
        margin-top: 10px;
        width: 100%;
    }

    .chitsgroup-select-column {
        width: 100%;
    }
    .groupselect-column {
        margin-top: 10px;
        width: 100% !important;
    }

    .nav.navbar-nav.navbar-right.first-navbar-ul {
        display: none;
    }

    .navbar-header {
        width: 50%;
        float: left;
    }
    .navbar-search {
        float: left;
    }

    .hidden-user-image {
        display: inline-block;
        margin: 5px 10px;
    }




    .first-navbar-ul {
        margin-top: 50px;
        text-align: center;
    }

    .navbar-search {
        margin: 5px auto;
    }

    .margin-top100 {
        margin-top: 300px;
    }

    .chits-column-parent {
        margin: auto;
    }
    //
    // .chits-column-parent:nth-child(2n+1) {
    // 	// margin-left: 20px;
    // }



    .user-sidebar-parent {
        display: none;
    }
    .bot-sidebar-parent {
        display: none;
    }



}

@media screen and (min-width: 700px) and (max-width: 767px) {

    .nav.navbar-nav.navbar-right.first-navbar-ul {
        display: none;
    }
    .navbar-header {
        display: none;
    }


    .first-navbar-ul {
        margin-top: 50px;
        text-align: center;
    }

    .navbar-search {
        margin: 5px auto;
    }

    .margin-top100 {
        margin-top: 300px;
    }

    .chits-column-parent {
        margin-left: 0px;
        // margin-right: 0px;
        // margin-left: 0px;
    }

    .chits-column-parent:nth-child(2n+1) {
    	// margin-left: 20px;
    }


    .user-sidebar-parent {
        display: none;
    }
    .bot-sidebar-parent {
        display: none;
    }



}

@media screen and (min-width: 768px) and (max-width: 799px) {

    .bot-sidebar-parent {
        width: 50px !important;
            .peoples-label {
                display: none;
            }
            .user-sidebar-hashtag {
                display: none;
            }
        }
    .user-sidebar-parent {
        width: 15% !important;
    }

}






@media screen and (min-width: 800px) and (max-width: 999px) {
    .welcome-div {
        margin-top: 20px !important;
        .welcome-text {
            // line-height: 40px !important;
            font-size: 1em !important;
        }
    }
    .actions {
        margin-top: 20px !important;
    }
    .bot-sidebar-parent {
        width: 50px !important;
            .peoples-label {
                display: none;
            }
            .user-sidebar-hashtag {
                display: none;
            }
        }
    .user-sidebar-parent {
        width: 15% !important;
    }
}

@media screen and (min-width: 1000px) and (max-width: 1099px) {
    .welcome-div {
        margin-top: 20px !important;
        .welcome-text {
            // line-height: 40px !important;
            font-size: 1em !important;
        }
    }
    .actions {
        margin-top: 20px !important;
    }

    .bot-sidebar-parent, .user-sidebar-parent {
        width: 15% !important;
    }


}

@media screen and (min-width: 1100px) and (max-width: 1300px) {
    .welcome-div {
        margin-top: 20px !important;
        .welcome-text {
            // line-height: 40px !important;
            font-size: 1em !important;
        }
    }
    .actions {
        margin-top: 20px !important;
    }
}
