// variables

$main_theme : #4267b2;
$old_theme : #FF0000;


a {
    text-decoration: none;
}

a:link {
    text-decoration: none;
}
a:visited {
    text-decoration: none;
}

// input#hashtag {
//     width: 120px;
//     min-width: 100px;
//     margin: auto;
// }

.hidden-user-image {
    display: none;
}

.userprofile-follow-text {
    color: white;
    font-weight: bold;
}

.button-friend-added {
    background: green !important;
    border-color: green !important;
}

.alert-hashtag {
    margin-top: 10px;
}

.text-center {
    text-align: center;
}

.block {
    display: block;
}

.text-center {
    text-align: center;
}

.margin-sidebar {
    margin-left: 160px;
}


.account-confirm-row {
    text-align: center;
}

.input-confirm-code {
    border: 2px solid #9dd7f2;
}


.search-progress-bar {
    position: fixed;
    top:60px;
    left:0px;
    width: 100%;
    z-index:9999;

    .progress {
        height: 10px;
    }

    .progress-bar {
        height: 10px;
    }
}


.action-navbar {
    text-align: center;
    position: fixed;
    width: 85%;
    z-index: 10;
    color: white;
    font-weight: bold;
    font-size: 1em;
    .item {
        padding: 5px;
        background: $main_theme;
    }
}

// dev



.chits-events-area {
    margin-top: 2px;
    height: 40px;
    width: 100%;
    position: relative;
    float: left;
    padding: 2px 10px;
    text-overflow: clip;
    overflow: hidden;
    background: #E8E8E8;
}

.chits-description-area {
    margin-top: 2px;
    height: 50px;
    width: 100%;
    position: relative;
    float: left;
    padding: 2px 10px;
    text-overflow: clip;
    overflow: hidden;
    background: $main_theme;
}

.chits-description-area-basic {
    margin-top: 2px;
    height: 50px;
    width: 100%;
    position: relative;
    float: left;
    padding: 2px 10px;
    text-overflow: clip;
    overflow: hidden;
    // background: #0c2172;
    background: #303030;
    // border-top: 3px solid #0066FF;

}

.previewplayimg {
    position: absolute;
    top: 0px;
    left: 10px;
    font-size: 30px;
    color: $main_theme;

}

.playerpreview-text {
    font-weight: bold;
    font-size: 1em;
    color: white;
}

.preview-text {
    font-weight: bold;
    font-size: 1em;
    color: white;
}


.chits-player {
    // float:left;
    // margin: auto;
    height: 150px;
    width: 100%;
    padding: 0px !important;
    // background:yellow;
    cursor:pointer;
}

.chits-events {
    height: 150px;
}

.chits-column-parent{
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 250px;
    height: 250px;
    padding: 2.5px;

}







.chits-column-block {
    height: 150px !important;
    background: #BFBFBF;
    // background: #303030;
}


.chits-column-image{
    height: 150px !important;
}

// dev















.sidenav {
    height: 100%;
    width: 160px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #d3d3d3;
    overflow-x: hidden;
    padding-top: 20px;

    .sidenav-body {
        position: absolute;
        top: 15%;
        left: 0;
    }
    a {
        padding: 6px 8px 6px 16px;
        text-decoration: none;
        font-size: 25px;
        color: #818181;
        display: block;

        &:hover {
            color: #f1f1f1;
        }
    }
}



.navbar-netchits {
    // background: #E8E8E8;
    background: #E8E8E8;
    border: none;
}

.navbar-default .navbar-nav li a {
    color: black;
    font-weight: bold;
    font-size: 1.1em;
    font-family: arial;
    &:hover {
        color: black;
        font-weight: bold;
        font-size: 1.1em;
    }
}

.navbar-default .navbar-brand {
    color: #4267b2;
    font-weight: bold;
    font-size: 1.5em;

    // border-bottom: 2px solid red;
    height: 40px;

    &:hover, &:active, &:active:focus, &:focus {
        color: #4267b2;
    }
}

.navbar-search {
    min-width: 130px;
    width: 40%;
    margin: 10px;
}




.second-navbar-parent {
    font-family: arial;
    .navbar {
        min-height:30px !important;
    }
    .navbar-nav {
        float:none;
        margin:0 auto;
        display: block;
        text-align: center;

        li {
            a {
                color: white;
                font-size: 1.1em;
                font-weight: bold;
                &:hover {
                    background: none !important;
                }

                &:link {
                    background: none !important;
                }
            }
        }
    }

    .navbar-nav > li {
        display: inline-block;
        float:none;
    }


    .navbar-nav > li > a, .navbar-brand {
        padding-top:5px !important; padding-bottom:0 !important;
        height: 30px !important;
    }

    .second-navbar {
        margin-top:55px;
        background: $main_theme;

    }
}



.chits-list {
    text-align: center;
    height: auto;
}

.chits-list div {
    // background: gray;
    // height: 150px;
}





// .chits-column a {
//     display: block;
//     width: 100%;
//     height: 100%;
// }

.margin-top80 {
    margin-top:80px;
}

.margin-top60 {
    margin-top: 60px;
}

.margin-top100 {
    margin-top:100px;
}



.search-result-parent {
    text-align: center;
    width: 90%;
    margin: auto;
    .search-user-image {
        width: 40px;
        height: 40px;
    }
    .search-user-hashtag {
        font-weight: bold;
    }

    .button-add-friend {
    }

    .button-is-friends {
        background: green !important;
        border-color: green !important;
    }

}

.search-result-col {

}

.chits-add-row {
    padding: 10px 0;
    height: auto !important;
}


.chits-add-group-row {
    padding: 10px 0;
    height: auto !important;
}

.chits-add-column {
    // margin-left: 5%;
    min-width: 120px;
}

.chitsgroup-select-column {
    min-width: 120px;
}

.chits-address-column {
    min-width: 150px;
}

.chits-child {
    // padding-top:50px;
    display: block;
    width: 100%;
    height: 100%;
    color:white;
}

.button-add-chits {
    font-size: 1.1em;
    font-weight: bold;
}

.button-add-chits-color {
    background: $main_theme !important;
    border-color: $main_theme !important;
}

.button-add-chits-search-color {
    background:#3097D1 !important;
    border-color: #3097D1 !important;
}

.btn-loveit, .btn-channel {
    background: $main_theme;
    color: white;
    font-weight: bold;
    outline:0;
    &:hover {
        color:white !important;
        background: $main_theme !important;
        outline:0;

    }
    &:focus {
        color:white !important;
        background: $main_theme !important;
        outline:0;

    }
    &:active {
        color:white !important;
        background: $main_theme !important;
        outline:0;
    }
}


.button-delete {
    margin-top:10px;
}

.button-delete-friend {

}

 .button-delete-group {
    background: black !important;
    border-color:black;
    font-size: 0.8em;
    margin-left: 5px;
}

.fa-love, .fa-search-link {
    color:white !important;
    padding: 5px;
}

.fa-delete-group {
    color: #cecece !important;
    font-size: 15px !important;
    padding: 5px;
    cursor: pointer;
    &:hover {
        color: red !important;
    }
}

.fa-delete-chits {
    color: #334957 !important;
    font-size: 20px !important;
    padding: 10px;
    cursor: pointer;
    &:hover {
        color: red !important;
    }
}

.fa-copy-chits {
    color: #50e573 !important;
    font-size: 20px !important;
    margin: 10px;
    cursor: pointer;
    &:hover {
        color: #50e573 !important;
    }
}

.fa-copy-success-small {
    color: #50e573 !important;
    font-size: 20px !important;
    margin: 10px;
    cursor: pointer;
    &:hover {
        color: #50e573 !important;
    }
}


.fa-copy-group {
    color: #50e573 !important;
    font-size: 30px !important;
    margin: 10px;
    cursor: pointer;
    &:hover {
        color: #50e573 !important;
    }
}

.fa-copy-success {
    color: #50e573 !important;
    font-size: 30px !important;
    margin: 10px;
    cursor: pointer;
    &:hover {
        color: #50e573 !important;
    }
}



 // OPG

 .opg_title {
     display: block;
     margin:auto;
     padding-top:15px;
     padding-left: 2px;
     padding-right: 2px;
     font-size: 0.7em;
     width: 100%;
     height: 40px !important;
     color:white;


 }

.opg_sitename {
    display: block;
    margin:auto;
    padding-top:10px;
    width: 80%;
    height: 40px !important;
    color:white;
}

.opg-image {
    display: block;
    float:left;
    width: 20%;
    height: 40%;
}

.row-group {
    display: block;
    height: 60px !important;
    margin: 50px auto;
}

.row-chits-list {
    display: block;
    height: auto !important;
}

.group-column {
    display: block;
    height: 40px !important;
    line-height: 40px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.panel-group {
    width: 40% !important;
    margin: auto;
}


.followers-parent {
    background: #E8E8E8;
    display: block;
    margin: 10px auto;
    width: 100%;
    text-align: center;
    color: black;
    font-size: 1.1em;
    font-weight: bold;
    padding: 5px;
}


.row-friends {
    padding-left: 0px;
    padding-right: 0px;
    .friends-parent {
        background: #E8E8E8;
        display: block;
        margin: 10px auto;
        width: 100%;
        text-align: center;
        color: black;
        font-size: 1.1em;
        font-weight: bold;
        padding: 5px;
    }
    .friends-list {
        padding: 10px;
        .friend-item {
            display: inline-block;
            text-align: center;
            width: 100px;

            .user-hashtag {
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                width: 100px;
                font-weight: bold;
                color: #404448;
            }
        }
    }
}

.row-user-profile {
    margin-top: 40px;
    .col-user-profile-image {
        .div-user-image {
            margin: auto;
            width: 100px;
            height: 100px;
            .user-image {
                width: 100px;
                height: 100px;
            }
        }
    }
    .col-user-profile-actions {
        margin-top: 5px;
        .div-upload-image {
            margin: auto;
            text-align: center;
        }

        .div-user-info {
            text-align: center;
            margin: 5px auto;
            width: 80%;

            .button-update-profile {
                width: 100%;
                // min-width: 120px;
                display: block;
                margin: 50px auto 10px auto;
                text-align: center;
            }
        }
    }

}

.chits-search-result {
    background: #F0F0F0;
    min-height: 180px;
    height:auto;

    .results-parent {
        // margin-left: 7%;
    }

}

.search-item {
    display: inline-block;
    min-width: 170px;
    margin: 10px;
    padding: 0px;
    // margin-left: 10px;
    // margin-right: 10px;
}


.search-item-title {
    white-space: nowrap;
    width: 150px;
    text-overflow: ellipsis;
    overflow: hidden;

  }

  .search-item-img {
      width: 170px;
      height: 110px;
  }


.row-people-list {
    padding-left: 0px;
    padding-right: 0px;

    .people-parent {
        background: #E8E8E8;
        display: block;
        margin: auto;
        margin-bottom: 10px;
        width: 100%;
        text-align: center;
        color: black;
        font-size: 1.1em;
        font-weight: bold;
        padding: 5px;
    }

    .people-list {
        padding: 10px;
        width: 100%;
        margin: auto;
        .people-item {
            display: inline-block;
            text-align: center;
            width: 100px;

            .user-hashtag {
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                width: 100px;
            }

        }
    }
}

.chits-count {
    padding: 2px;
    font-size: 1em;
    font-family: arial;
}

.follow-count {
    padding: 2px;
    font-size: 1em;
}

.user-sidebar-hashtag {
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 70%;
    vertical-align: middle;

}
